streamlit>=1.32.0
numpy>=1.24.0
scipy>=1.11.0
opencv-python-headless>=4.9.0
Pillow>=10.0.0
matplotlib>=3.7.0
fpdf2>=2.7.0
streamlit-drawable-canvas>=0.9.3
torch
deepgaze-pytorch
mediapipe
ultralytics
